Repository flowacademyhu/eta-meeting-organizer, pull requests merged in 2020-03, with the labels that each got.

#214 missing cascade added in meetingroom
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/MeetingRoom.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/User.java
Labels: backend

#209 I208 paginator buttons
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
Labels: frontend

#221 default value added to meetingroom-selector
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar-header.component.ts
Labels: frontend

#225 I32 reservation edit in calendar
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
  eta-meeting-organizer-frontend/src/app/models/event.model.ts
  eta-meeting-organizer-frontend/src/app/models/reservation-to-post.model.ts
  eta-meeting-organizer-frontend/src/app/models/reservation.model.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-book.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-delete.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-info.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-time-update.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/ReservationApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/services/reservation.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#219 I217 warning message
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-delete.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#224 I159 validation
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/AlreadyExistsException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/BuildingAddressAlreadyExistsException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/BuildingNameAlreadyExistsException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/BuildingNotFoundException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/GlobalExceptionHandler.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/MeetingRoomNameAlreadyExistsException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/MeetingRoomNotFoundException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/NotFoundException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/ReservationNotFoundException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/UserNotFoundException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/exception/ValidationException.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/User.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/MeetingRoomDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/RoleDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/BuildingRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/MeetingRoomRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/InitDataLoader.java
  eta-meeting-organizer-backend/src/main/resources/application.yaml
Labels: backend

#218 I212 checkbox for buildings
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Building.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/BuildingRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/BuildingApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/services/building.service.ts
Labels: backend, frontend

#211 I192 checkbox for meeting room
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/MeetingRoom.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/MeetingRoomRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/MeetingRoomResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/MeetingRoomApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/services/meeting-room.service.ts
Labels: backend, frontend

#216 I215 user role update
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#229 I228 login route bugfix
  eta-meeting-organizer-frontend/src/app/login/components/login.component.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
Labels: frontend

#231 I220 modal for meetingroom checkbox
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-checkbox-delete.component.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
Labels: frontend

#235 I207 error handling
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-update-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-delete.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-book.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-verification-dialog.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#238 I236 drag and drop
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-update-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-book.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-info.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-time-update.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
Labels: frontend

#239 I232 reservation validation
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/ReservationRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
Labels: backend

#244 I241 sorting bugfix
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar-header.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
Labels: frontend

#246 I245 30second refresh
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
Labels: frontend

#248 I227 calendar coloring
  eta-meeting-organizer-frontend/src/_globals.scss
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
  eta-meeting-organizer-frontend/src/app/models/event.model.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-book.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-info.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-time-update.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-update.component.ts
Labels: frontend

#250 I223 site refresh
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar-header.component.ts
Labels: frontend

#253 I240 validation bugfix
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/BuildingRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/MeetingRoomRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/ReservationRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
Labels: backend

#263 I262 calendar bugfix
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar-header.component.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
  eta-meeting-organizer-frontend/src/app/models/participant.model.ts
  eta-meeting-organizer-frontend/src/app/models/reservation-to-post.model.ts
  eta-meeting-organizer-frontend/src/app/models/reservation.model.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-book.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-email-list.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-time-update.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: backend, frontend

#260 sorting works
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
Labels: frontend

#261 I257 header buttons
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
  eta-meeting-organizer-frontend/src/favicon.ico
  eta-meeting-organizer-frontend/src/index.html
Labels: frontend

#264 I251 reservation error handling
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-update-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-book.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-delete.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-info.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-time-update.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#268 I267 calendar bugfix!!
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
Labels: backend, frontend

#273 fix bug
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/ReservationRepository.java
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
  eta-meeting-organizer-frontend/src/environments/environment.prod.ts
  eta-meeting-organizer-frontend/src/environments/environment.ts
Labels: backend, frontend

#274 I270 meetingroom filter bugfix
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/models/meetingroom-tofilter.ts
Labels: frontend

#271 I258 meetingroom service tests
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Participant.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/BuildingDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/MeetingRoomDTO.java
  eta-meeting-organizer-backend/src/test/java/hu/flowacademy/meetingorganizer/service/MeetingRoomServiceTest.java
Labels: backend, non-requirement

#269 I226 building service unit tests
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-backend/src/test/java/hu/flowacademy/meetingorganizer/service/BuildingServiceTest.java
  eta-meeting-organizer-backend/src/test/java/hu/flowacademy/meetingorganizer/service/MeetingRoomServiceTest.java
Labels: backend, non-requirement

#266 I230 user service unit tests
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/RoleDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-backend/src/test/java/hu/flowacademy/meetingorganizer/MeetingorganizerApplicationTests.java
  eta-meeting-organizer-backend/src/test/java/hu/flowacademy/meetingorganizer/service/MeetingRoomServiceTest.java
  eta-meeting-organizer-backend/src/test/java/hu/flowacademy/meetingorganizer/service/UserServiceTest.java
Labels: backend, non-requirement

#276 I259 reservation service unit tests
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
  eta-meeting-organizer-backend/src/test/java/hu/flowacademy/meetingorganizer/service/BuildingServiceTest.java
  eta-meeting-organizer-backend/src/test/java/hu/flowacademy/meetingorganizer/service/ReservationServiceTest.java
Labels: backend, non-requirement

#279 I278 initdataloader role change
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/InitDataLoader.java
Labels: backend
