Repository flowacademyhu/eta-meeting-organizer, pull requests merged in 2020-02, with the labels that each got.

#62 solve package problem
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistance/Role.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Building.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Role.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/User.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/BuildingRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/ReservationRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/ReservationResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
Labels: backend, bug

#55 I45 meetingroom entity
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/MeetingRoom.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/MeetingRoomRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/MeetingRoomResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
Labels: backend

#59 I57 init data loader
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Building.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/utils/initDataLoader.java
Labels: backend

#70 remove wildcard imports and use google formatter
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Building.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Role.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/User.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/ReservationRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/ReservationResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-backend/src/main/java/utils/initDataLoader.java
Labels: backend

#68 I17 basic menu structure
  eta-meeting-organizer-frontend/angular.json
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
  eta-meeting-organizer-frontend/src/theme.scss
Labels: frontend

#72 I21 meeting room surface
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/meeting-room-routing.module.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/meeting-room.module.ts
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#71 I39 profile page
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/profile/components/profile.components.ts
  eta-meeting-organizer-frontend/src/app/profile/profile-routing.module.ts
  eta-meeting-organizer-frontend/src/app/profile/profile.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#79 I78 local date
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/initDataLoader.java
Labels: backend

#77 I75 building surface
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/building/building-routing.module.ts
  eta-meeting-organizer-frontend/src/app/building/building.module.ts
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#80 I73 refactoring
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/UserRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/MeetingRoomResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/ReservationResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/initDataLoader.java
Labels: backend

#69 #I14-login-frontend
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/package.json
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/app.module.ts
  eta-meeting-organizer-frontend/src/app/login/components/login.component.ts
  eta-meeting-organizer-frontend/src/app/login/login-routing.module.ts
  eta-meeting-organizer-frontend/src/app/login/login.module.ts
  eta-meeting-organizer-frontend/src/app/shared/services/configuration.service.ts
  eta-meeting-organizer-frontend/src/app/welcome/components/welcome-description.component.ts
  eta-meeting-organizer-frontend/src/assets/googlelogo.png
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
  eta-meeting-organizer-frontend/src/environments/environment.prod.ts
  eta-meeting-organizer-frontend/src/environments/environment.ts
  eta-meeting-organizer-frontend/src/styles.scss
  eta-meeting-organizer-frontend/src/theme.scss
Labels: frontend

#81 I74- API Connectors + methods
  eta-meeting-organizer-frontend/src/app/models/building.model.ts
  eta-meeting-organizer-frontend/src/app/models/meetingroom.model.ts
  eta-meeting-organizer-frontend/src/app/models/reservation.model.ts
  eta-meeting-organizer-frontend/src/app/models/user.model.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/BuildingApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/MeetingRoomApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/ReservationApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/UserApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/services/api-communication.service.ts
  eta-meeting-organizer-frontend/src/environments/environment.prod.ts
  eta-meeting-organizer-frontend/src/environments/environment.ts
Labels: frontend

#83 material theme change
  eta-meeting-organizer-frontend/src/theme.scss
Labels: frontend

#89 I84 profile backend connection
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/profile/components/profile.components.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
  eta-meeting-organizer-frontend/src/app/welcome/components/welcome-description.component.ts
Labels: frontend

#95 I24 meetingroom list
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/meeting-room-routing.module.ts
  eta-meeting-organizer-frontend/src/app/models/meetingroom.model.ts
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#94 I93 building editor
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#98 adding travis
  .travis.yml
  eta-meeting-organizer-backend/pom.xml
  eta-meeting-organizer-backend/src/main/resources/application.yaml
Labels: mentor-action

#117 I116-Changed initDataLoader to make calendar functions testable.
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/initDataLoader.java
Labels: backend

#107 I97 building registration
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#114 I18 calendar view
  eta-meeting-organizer-backend/pom.xml
  eta-meeting-organizer-frontend/angular.json
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/package.json
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/calendar/calendar-routing.module.ts
  eta-meeting-organizer-frontend/src/app/calendar/calendar.module.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
  eta-meeting-organizer-frontend/src/app/models/reservation.model.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
  eta-meeting-organizer-frontend/src/styles.scss
Labels: frontend

#106 I96 meeting room registration
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#118 I111-Added methods and endpoint to find reservations by userId.
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/ReservationRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/ReservationResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
Labels: backend

#110 I99 pagination
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/MeetingRoomResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
Labels: backend

#109 I 105 new header
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
  eta-meeting-organizer-frontend/src/assets/logout.png
  eta-meeting-organizer-frontend/src/assets/wysio_arrow.png
Labels: frontend

#113 I15 user entry
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/package.json
  eta-meeting-organizer-frontend/src/_globals.scss
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/app.module.ts
  eta-meeting-organizer-frontend/src/app/auth/auth-routing.module.ts
  eta-meeting-organizer-frontend/src/app/auth/auth.module.ts
  eta-meeting-organizer-frontend/src/app/auth/components/auth.component.ts
  eta-meeting-organizer-frontend/src/app/login/components/login.component.ts
  eta-meeting-organizer-frontend/src/app/login/login.module.ts
  eta-meeting-organizer-frontend/src/app/models/user.model.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/guard/auth.guard.ts
  eta-meeting-organizer-frontend/src/app/shared/interceptor/auth-interceptor.service.ts
  eta-meeting-organizer-frontend/src/app/shared/models/auth-response.model.ts
  eta-meeting-organizer-frontend/src/app/shared/models/user-token.model.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/services/auth.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
  eta-meeting-organizer-frontend/src/environments/environment.prod.ts
  eta-meeting-organizer-frontend/src/environments/environment.ts
Labels: frontend

#112 I42 google sso integration
  eta-meeting-organizer-backend/docker-compose.yaml
  eta-meeting-organizer-backend/pom.xml
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/MeetingorganizerApplication.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/AppProperties.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/RoleConfigs.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/SecurityConfig.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/SimpleCorsFilter.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/TokenProvider.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/oauth2/HttpCookieOAuth2AuthorizationRequestRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/oauth2/OAuth2UserServiceImpl.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/oauth2/Oauth2AuthenticationFailureHandler.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/oauth2/Oauth2AuthenticationSuccessHandler.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/security/CustomUserDetailsService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/security/TokenAuthenticationFilter.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Role.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/User.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/UserRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/CookieUtils.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/InitDataLoader.java
  eta-meeting-organizer-backend/src/main/resources/application.yaml
Labels: backend

#127 I103 generate meetingroom name
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/BuildingDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/MeetingRoomDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/MeetingRoomResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/ReservationResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
Labels: backend

#119 I91 users table
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/SecurityConfig.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/resources/application.yaml
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/UserApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/interceptor/auth-interceptor.service.ts
  eta-meeting-organizer-frontend/src/app/shared/services/user.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/users-table-routing.module.ts
  eta-meeting-organizer-frontend/src/app/users-table/users-table.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#126 I29 meeting room delete
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-delete.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/MeetingRoomApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/services/meeting-room.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#130 I121 calendar endpoints
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/BuildingRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/MeetingRoomRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/ReservationRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/MeetingRoomResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/ReservationResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
Labels: backend

#144 new design created
  eta-meeting-organizer-frontend/src/app/login/components/login.component.ts
  eta-meeting-organizer-frontend/src/app/shared/components/footer-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
  eta-meeting-organizer-frontend/src/assets/background.png
  eta-meeting-organizer-frontend/src/assets/footer_city.png
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#146 buttons updated
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
Labels: frontend

#149 I141 bugfix
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/AppProperties.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/SecurityConfig.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/SimpleCorsFilter.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/TokenProvider.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/oauth2/HttpCookieOAuth2AuthorizationRequestRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/oauth2/OAuth2UserServiceImpl.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/oauth2/Oauth2AuthenticationFailureHandler.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/oauth2/Oauth2AuthenticationSuccessHandler.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/security/CustomUserDetailsService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/security/TokenAuthenticationFilter.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/User.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/BuildingDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/ReservationRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/UserRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/ReservationResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/CookieUtils.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/InitDataLoader.java
Labels: backend

#139 I135 user verification
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/UserRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-verification-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/app/shared/services/user.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: backend, frontend

#136 I16 logout
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/app.module.ts
  eta-meeting-organizer-frontend/src/app/login/components/login.component.ts
  eta-meeting-organizer-frontend/src/app/profile/components/profile.components.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/guard/auth.guard.ts
  eta-meeting-organizer-frontend/src/app/shared/services/auth.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/app/welcome/components/welcome-description.component.ts
Labels: frontend

#151 I147 building service
  eta-meeting-organizer-frontend/src/app/models/building.model.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/BuildingApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/services/building.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
Labels: frontend

#142 I133 snack bar building registration
  eta-meeting-organizer-backend/src/main/resources/application.yaml
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/login/components/login.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/services/building.service.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#152 I86 menu guard role
  eta-meeting-organizer-frontend/src/app/app-routing.module.ts
  eta-meeting-organizer-frontend/src/app/models/user.model.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/guards/admin.guard.ts
  eta-meeting-organizer-frontend/src/app/shared/guards/auth.guard.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/tslint.json
Labels: frontend

#165 I120 selects for calendar
  eta-meeting-organizer-backend/src/main/resources/application.yaml
  eta-meeting-organizer-frontend/src/app/calendar/calendar-routing.module.ts
  eta-meeting-organizer-frontend/src/app/calendar/calendar.module.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar-header.component.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/BuildingApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/MeetingRoomApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/ReservationApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#168 I166 dto fix
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Building.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/BuildingDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/MeetingRoomDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/MeetingRoomResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/InitDataLoader.java
Labels: backend

#154 I97 building registration
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/models/building.model.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-update-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/services/auth.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#167 I26 targyalo szerkesztes
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-delete.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/BuildingApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/services/building.service.ts
  eta-meeting-organizer-frontend/src/app/shared/services/meeting-room.service.ts
  eta-meeting-organizer-frontend/src/app/shared/shared.module.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#170 I101 email library
  eta-meeting-organizer-backend/pom.xml
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/MeetingorganizerApplication.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/mailing/EmailConfig.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/mailing/Mailgun.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/config/mailing/MailingConfig.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/email/EmailFactory.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/email/EmailService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/email/EmailType.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/email/GmailService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/email/MailgunEmailService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/MeetingRoom.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/User.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/UserRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/CookieUtils.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/InitDataLoader.java
  eta-meeting-organizer-backend/src/main/resources/application.yaml
Labels: backend

#175 Mailgun and Google Auth email standardization
  eta-meeting-organizer-backend/src/main/resources/application.yaml
Labels: backend

#169 Admin ne tudja törölni magát
  eta-meeting-organizer-frontend/src/app/models/user.model.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
Labels: frontend

#173 Felhasználó beléptetés átalakítása
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/RoleDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-verification-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/UserApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/services/user.service.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: backend, frontend

#177 buttons position fixed
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
Labels: frontend

#180 I179-scroll-bar-delete
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
Labels: frontend

#185 Reservation restructure
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/dto/ReservationDTO.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/ReservationResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/ReservationService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/InitDataLoader.java
Labels: backend

#176 I 155 pagination
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/BuildingRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/MeetingRoomRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/repository/UserRepository.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/BuildingResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/MeetingRoomResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/rest/UserResource.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/BuildingService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/MeetingRoomService.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/service/UserService.java
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/MeetingRoomApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/api-connectors/UserApiConnector.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/shared/material.module.ts
  eta-meeting-organizer-frontend/src/app/shared/services/building.service.ts
  eta-meeting-organizer-frontend/src/app/shared/services/meeting-room.service.ts
  eta-meeting-organizer-frontend/src/app/shared/services/user.service.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: backend, frontend

#189 I188 pagination bugfix
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-delete.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-verification-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/services/building.service.ts
  eta-meeting-organizer-frontend/src/app/shared/services/meeting-room.service.ts
  eta-meeting-organizer-frontend/src/app/shared/services/user.service.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#186 I182 frontend validation for modals
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-update-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-verification-dialog.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
  eta-meeting-organizer-frontend/src/theme.scss
Labels: frontend

#193 missing sorting funtions added again
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
Labels: frontend

#187 I183 calendar header
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar-header.component.ts
  eta-meeting-organizer-frontend/src/app/shared/pages/main-layout.component.ts
Labels: frontend

#195 I164 reader role
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar-header.component.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
Labels: frontend

#198 container bug fixed
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
Labels: frontend

#200 I196 cascade bugfix
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Building.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/Reservation.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/persistence/model/User.java
  eta-meeting-organizer-backend/src/main/java/hu/flowacademy/meetingorganizer/utils/InitDataLoader.java
Labels: backend

#204 login page size modified
  eta-meeting-organizer-frontend/src/app/login/components/login.component.ts
Labels: frontend

#199 Formázás
  eta-meeting-organizer-frontend/package-lock.json
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/calendar/components/calendar.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-delete-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/building-update-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-register.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/meeting-room-update.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/reservation-book.component.ts
  eta-meeting-organizer-frontend/src/app/shared/Modals/user-verification-dialog.ts
  eta-meeting-organizer-frontend/src/app/shared/components/header-layout.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
  eta-meeting-organizer-frontend/src/assets/i18n/en.json
  eta-meeting-organizer-frontend/src/assets/i18n/hu.json
Labels: frontend

#206 new item inserted into the first row
  eta-meeting-organizer-frontend/src/app/building/components/building.component.ts
  eta-meeting-organizer-frontend/src/app/meeting-room/components/meeting-room.component.ts
  eta-meeting-organizer-frontend/src/app/users-table/components/users-table.component.ts
Labels: frontend
